<div class="ketaipost-images">
    <mt:entryAssets type="image" lastn="0">
        <a class="asset-image ketaipost-image" href="<$MTAssetURL$>"><img src="<$MTAssetThumbnailURL square="$thumbnail_square" width="$thumbnail_width"$>" class="asset-img-thumb" alt="<$MTAssetLabel$>" title="<$MTAssetLabel$>" /></a><br />
    </mt:entryAssets>
</div>
<div class="ketaipost-videos">
    <mt:entryAssets type="video" lastn="0">
        <$MTEntryKetaiPostVideo width="$movie_width"$>
    </mt:entryAssets>
</div>
<p>
    <$MTEntryBody$>
</p>
<p>posted by <a href="http://takeyu-web.com/" target="_blank">KetaiPost</a></p>
