<mt:setVars>
  page_title=KetaiPost 受信設定
  listing_screen=1
</mt:setVars>
<mt:setVarBlock name="js_include">
</mt:setVarBlock>
<mt:setVarBlock name="jq_js_include">
  jQuery.mtCheckbox();
  
  jQuery('button.mt-delete-mailboxes').each(function() {
    jQuery(this).click(function() {
      var count = countMarked(jQuery('#mailbox-listing-form')[0]);
      if (!count) {
        alert("削除する送信先メールアドレスが選択されていません。");
        return false;
      }
      return true;
    });
  });

  jQuery('button.mt-delete-authors').each(function() {
    jQuery(this).click(function() {
      var count = countMarked(jQuery('#author-listing-form')[0]);
      if (!count) {
        alert("削除する送信元ユーザーが選択されていません。");
        return false;
      }
      return true;
    });
  });
</mt:setVarBlock>
<mt:include name="include/header.tmpl" />

<h2>送信先メールアドレス（メールボックス）</h2>

<ul class="action-link-list">
  <li><a class="icon-left icon-create mt-open-dialog  " href="<mt:var name="script_url" />?__mode=select_ketaipost_blog&return_args=__mode%3Dlist_ketaipost%26blog_id%3D0">新しい送信先メールアドレスを登録（メールボックス設定）</a></li>
</ul>

<div class="listing">
  <form method="post" action="<mt:var name="script_url" />" class="mailbox-listing-form" id="mailbox-listing-form">
    <input type="hidden" name="__mode" value="delete_ketaipost_mailbox" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token" />" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" />" />
    <div class="actions-bar actions-bar-top" id="actions-bar-top">
      <span class="button-actions actions">
	<button class="mt-delete-mailboxes " title="選択した送信先を削除" type="submit">削除</button>
      </span>
    </div>
    <table id="mailbox-listing-table" class="mailbox-listing-table">
      <thead>
	<tr>
	  <th class="cb "><input type="checkbox" class="select   checkbox" value="all" name="id-head"></th>
	  <th id="at-email" class="primary-col">送信先メールアドレス</th>
	  <th id="at-blog" class="">ブログ</th>
	  <th id="at-category" class="">カテゴリ</th>
	</tr>
      </thead>
      <tbody>
	<mt:loop name="mailboxes">
	  <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
	    <td class="cb "><input type="checkbox" class="select   checkbox" value="<mt:var name="id" />" name="id"></td>
	    <td class="primary-col"><a class="mt-open-dialog" href="<mt:var name="script_url" />?id=<mt:var name="id" />&__mode=select_ketaipost_blog&return_args=__mode%3Dlist_ketaipost%26blog_id%3D0"><mt:var name="address" encode_html="1" /></a></td>
	    <td class=""><mt:var name="blog" encode_html="1" /></td>
	    <td><mt:var name="category" encode_html="1" /></td>
	  </tr>
	</mt:loop>
      </tbody>
      <tfoot>
	<tr>
	  <th class="cb "><input type="checkbox" class="select   checkbox" value="all" name="id-head"></th>
	  <th id="at-email" class="primary-col">送信先メールアドレス</th>
	  <th id="at-blog" class="">ブログ</th>
	  <th id="at-category" class="">カテゴリ</th>
	</tr>
      </tfoot>
    </table>
    <div class="actions-bar actions-bar-bottom" id="actions-bar-bottom">
      <span class="button-actions actions">
	<button class="mt-delete-mailboxes " title="選択した送信先を削除" type="submit">削除</button>
      </span>
    </div>
  </form>
</div>

<h2>送信元ユーザー（記事の作成者）</h2>
<ul class="action-link-list ">
  <li class=" "><a class="icon-left icon-create mt-open-dialog  " href="<mt:var name="script_url" />?__mode=edit_ketaipost_author&return_args=__mode%3Dlist_ketaipost%26blog_id%3D0">新しい送信元メールアドレスを登録（ユーザー設定）</a></li>
</ul>

<div class="listing ">
  <form method="post" action="<mt:var name="script_url" />" class="author-listing-form" id="author-listing-form">
    <input type="hidden" name="__mode" value="delete_ketaipost_author" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token" />" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" />" />
    <div class="actions-bar actions-bar-top" id="actions-bar-top">
      <span class="button-actions actions">
	<button class="mt-delete-authors " title="選択した送信先を削除" type="submit">削除</button>
      </span>
    </div>
    <table id="author-listing-table" class="author-listing-table">
      <thead>
	<tr>
	  <th class="cb "><input type="checkbox" class="select   checkbox" value="all" name="id-head"></th>
	  <th id="at-email" class="primary-col">送信元メールアドレス</th>
	  <th id="at-author" class="">ユーザー名</th>
	</tr>
      </thead>
      <tbody>
	<mt:loop name="authors">
	  <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
	    <td class="cb "><input type="checkbox" class="select   checkbox" value="<mt:var name="id" />" name="id"></td>
	    <td class="primary-col"><a class="mt-open-dialog" href="<mt:var name="script_url" />?id=<mt:var name="id" />&__mode=edit_ketaipost_author&return_args=__mode%3Dlist_ketaipost%26blog_id%3D0">
		<mt:if name="address"><mt:var name="address" encode_html="1" /></mt:if>
		<mt:unless name="address">（未設定のすべてのメールアドレス）</mt:unless>
	    </a></td>
	    <td class=""><mt:var name="author" encode_html="1" /></td>
	  </tr>
	</mt:loop>
      </tbody>
      <tfoot>
	<tr>
	  <th class="cb "><input type="checkbox" class="select   checkbox" value="all" name="id-head"></th>
	  <th id="at-email" class="primary-col">送信元メールアドレス</th>
	  <th id="at-author" class="">ユーザー名</th>
	</tr>
      </tfoot>
    </table>
    <div class="actions-bar actions-bar-bottom" id="actions-bar-bottom">
      <span class="button-actions actions">
	<button class="mt-delete-authors " title="選択した送信先を削除" type="submit">削除</button>
      </span>
    </div>
  </form>
</div>

<mt:include name="include/footer.tmpl" />
