<mt:include name="dialog/header.tmpl" page_title="送信先メールアドレス（メールボックス）登録" />

<p class="first-child last-child">送信先メールアドレスを登録しました。</p>

<mt:include name="dialog/footer.tmpl" />

<script type="text/javascript">
  $(document).ready(function(){
    parent.location.href = "<mt:var name="return_uri" />";
    parent.jQuery.fn.mtDialog.close();
  });
</script>
