<mt:SetVarBlock name="jq_js_include" append="1">
  jQuery('form').submit(function(){
    if (jQuery('select[name="post_blog_id"]').val() > 0) {
      return true;
    } else {
      window.alert('ブログを選んで下さい。');
      return false;
    }
  });
</mt:SetVarBlock>

<mt:setvarblock name="page_title"><mt:if name="id"><__trans phrase="Edit Mailbox"><mt:else><__trans phrase="Create Mailbox"></mt:else></mt:if></mt:setvarblock>

<mt:include name="include/header.tmpl">

<form method="post" action="<mt:var name="script_url" />" class="first-child last-child">
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
  <input type="hidden" name="__mode" value="edit_ketaipost_mailbox" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token" />" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" />" />
  <mt:if name="id">
    <input type="hidden" name="id" value="<mt:var name="id" />" />
  </mt:if>
  
  <h2>送信先ブログの選択</h2>
  
  <mtapp:setting
     id="post_blog_id"
     label="ブログ:">
    <select name="post_blog_id" id="post_blog_id">
      <mt:loop name="blogs">
	    <option value="<mt:var name="id" />" <mt:if name="selected">selected="selected"</mt:if>><mt:var name="name" encode_html="1" /></option>
      </mt:loop>
    </select>
  </mtapp:setting>
  
  <div class="actions-bar last-child">
    <button class="action primary button first-child" title="次へ" type="submit">次へ</button>
    <button class="action previous button" title="戻る" onclick="history.back(); return false;">戻る</button>
  </div>
</form>

<mt:include name="include/footer.tmpl" />
