<mt:include name="dialog/header.tmpl" page_title="送信元メールアドレスとユーザーの関連付け" />

<form method="post" action="<mt:var name="script_url" />" class="first-child last-child">
  <input type="hidden" name="__mode" value="save_ketaipost_author" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token" />" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" />" />
  <mt:if name="id">
    <input type="hidden" name="id" value="<mt:var name="id" />" />
  </mt:if>
  
  <mtapp:setting
     id="author_id"
     label="ユーザー:">
    <select name="author_id" id="author_id">
      <mt:loop name="authors">
	<option value="<mt:var name="id" />" <mt:if name="selected">selected="selected"</mt:if>><mt:var name="name" encode_html="1" /></option>
      </mt:loop>
    </select>
  </mtapp:setting>
  
  <mtapp:setting
     id="address"
     label="送信元メールアドレス:">
    <input type="text" name="address" value="<mt:var name="address" encode_html="1" />" /><br />
    記入しない場合はすべてのメールアドレスに適用されます。
  </mtapp:setting>
  
  <div class="actions-bar last-child">
    <button class="close action primary-button first-child" title="OK" type="submit">OK</button>
    <button title="キャンセル" class="cancel action mt-close-dialog last-child" onclick="parent.jQuery.fn.mtDialog.close(); return false;">キャンセル</button>
  </div>
</form>

<mt:include name="dialog/footer.tmpl" />
