<mt:include name="dialog/header.tmpl" page_title="送信先メールアドレス（メールボックス）登録" />

<form method="post" action="<mt:var name="script_url" />" class="first-child last-child">
  <input type="hidden" name="__mode" value="save_ketaipost_mailbox" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token" />" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" />" />
  <mt:if name="id">
    <input type="hidden" name="id" value="<mt:var name="id" />" />
  </mt:if>
  
  <h2>記事登録先の設定</h2>
  
  <mtapp:setting
     id="blog_id"
     label="ブログ:">
    <input type="hidden" name="blog_id" id="blog_id" value="<mt:var name="blog_id" />" />
    <mt:var name="blog_name" encode_html="1" />
  </mtapp:setting>
  
  <mtapp:setting
     id="category_id"
     label="カテゴリ:">
    <select name="category_id" id="category_id">
      <option value="">指定しない</option>
      <mt:loop name="categories">
	<option value="<mt:var name="id" />" <mt:if name="selected">selected="selected"</mt:if>><mt:var name="label" encode_html="1" /></option>
      </mt:loop>
    </select>
  </mtapp:setting>

  <h2>送信先の設定</h2>
  
  <mtapp:setting
     id="address"
     label="メールアドレス:">
    <input type="text" name="address" value="<mt:var name="address" encode_html="1" />" /><br />
    ここに送信されたメールを指定のブログ・カテゴリの記事として投稿します。
  </mtapp:setting>
  
  <h2>メールボックスの設定</h2>
  
  <mtapp:setting
     id="host"
     label="ホスト名:">
    <input type="text" name="host" value="<mt:var name="host" encode_html="1" />" />
  </mtapp:setting>
  
  <mtapp:setting
     id="port"
     label="ポート番号:">
    <input type="text" name="port" value="<mt:var name="port" encode_html="1" />" />
  </mtapp:setting>
  
  <mtapp:setting
     id="account"
     label="アカウント名:">
    <input type="text" name="account" value="<mt:var name="account" encode_html="1" />" />
  </mtapp:setting>
  
  <mtapp:setting
     id="password"
     label="パスワード:">
    <input type="password" name="password" value="<mt:var name="password" encode_html="1" />" />
  </mtapp:setting>
  
  <mtapp:setting
     id="use_ssl"
     label="SSL使用:">
    <mt:if name="use_ssl">
      <input type="radio" id="use_ssl_1" name="use_ssl" value="1" checked="checked" /><label for="use_ssl_1">する</label>&nbsp;
      <input type="radio" id="use_ssl_0" name="use_ssl" value="0" /><label for="use_ssl_0">しない</label>
    </mt:if>
    <mt:unless name="use_ssl">
    <input type="radio" id="use_ssl_1" name="use_ssl" value="1" /><label for="use_ssl_1">する</label>&nbsp;
    <input type="radio" id="use_ssl_0" name="use_ssl" value="0" checked="checked" /><label for="use_ssl_0">しない</label>
    </mt:unless>
  </mtapp:setting>

  <mtapp:setting
     id="use_apop"
     label="APOP使用:">
    <mt:if name="use_apop">
      <input type="radio" id="use_apop_1" name="use_apop" value="1" checked="checked" /><label for="use_apop_1">する</label>&nbsp;
      <input type="radio" id="use_apop_0" name="use_apop" value="0" /><label for="use_apop_0">しない</label>
    </mt:if>
    <mt:unless name="use_apop">
    <input type="radio" id="use_apop_1" name="use_apop" value="1" /><label for="use_apop_1">する</label>&nbsp;
    <input type="radio" id="use_apop_0" name="use_apop" value="0" checked="checked" /><label for="use_apop_0">しない</label>
    </mt:unless>
  </mtapp:setting>
  
  <div class="actions-bar last-child">
    <button class="close action primary-button first-child" title="OK" type="submit">OK</button>
    <button class="action previous" title="戻る" onclick="history.back(); return false;">戻る</button>
    <button title="キャンセル" class="cancel action mt-close-dialog last-child" onclick="parent.jQuery.fn.mtDialog.close(); return false;">キャンセル</button>
  </div>
</form>
<mt:include name="dialog/footer.tmpl" />
